{% extends "base.html" %}

{% block title %}
Weather Viewer – Sign Up
{% endblock%}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="weather-logo"></div>
        </div>
    </div>

    <h2 class="text-center mb-5">Регистрация</h2>

    {% if form.errors %}
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-danger" role="alert">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-12 col-lg-4 col-md-6 col-sm-12">
            <form action="" method="POST" class="mt-4">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Логин</label>
                    {{ form.login }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Пароль</label>
                    {{ form.password }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Подтвердите пароль</label>
                    {{ form.confirm_password }}
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-3">Зарегистрироваться</button>
                <p class="mt-2 text-center">У вас уже есть аккаунт? <a href="{% url 'user:login' %}">Авторизация</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}