{% load static %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/weather-app.png' %}" alt="" width="30" height="24"
                 class="d-inline-block align-text-top">
            Weather Tracker
        </a>
        {% if user.is_authenticated %}
            <div class="d-flex align-items-center">
                <span class="navbar-text me-3">{{ user.login }}</span>
                <form method="post" action="{% url 'user:logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger">Выйти</button>
                </form>
            </div>
        {% else %}
            <div class="d-flex align-items-center">
                <button class="btn btn-outline-danger" onclick="window.location.href='{% url 'user:login' %}'">Войти</button>
            </div>
        {% endif %}
    </div>
</nav>